
*{
  margin:0;
  padding:0;
  text-decoration: none;
}
.container{
  display:flex;
  margin-bottom: -15%;

}
main{
  background-size:cover;
  /* background:linear-gradient(#d5bbea,#7d669a,#4e689a); */
  /* background:linear-gradient(#dccdf5 ,#5b789b,#3d5681); */
  background-color: #f4edef;
  width: 93%;
  padding: 20px;
 
}
/* .sidebar{
  
  background: #2d324e;
  color: #fff;
  height: 196vh;
  width: 3%;
  transition: all 0.5s;
}
.top_section{
  width: 50%;
  align-items:center;
  padding:20px 15px;
} */
/* .logo{
  font-size:0px;
}
.bars{
  display:block;
  width: 200px;
  font-size: 150%;
  
} */
/* .link {
  display: flex;
  color: #f4f4f4;
  padding: 10px 15px;
  gap: 10px;
  cursor: pointer;
  position: relative; 
}
.link:hover{
  background:#a67a83;
  color: #000;
  transition: all 0.5s;
}
/* .active{
  background: #a67a83;
  color: #04AA6D;

.icon, .link_text{
  font-size: 120%;
} */



/* H1 */
 /* Style for slider in Intrest page */

 #app {
  height: 100%;
}
html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-slide {
  width: 80%;
}

.swiper-slide:nth-child(2n) {
  width: 60%;
}

.swiper-slide:nth-child(3n) {
  width: 40%;
}










